<h1><%= @project.name %></h1>

<p>Company: <%= @project.company.name %></p>
<p>Default Rate: <%= @project.default_rate %></p>
<p>Slug: <%= @project.slug %></p>

<p><%= link_to "All Porjects", projects_path %></p>
